<%= stylesheet_link_tag "devise_form"%>

<div class="devise-container mt-5">
  <h2 class="text-center mb-4">Sign Up to Socialize with Your Friends 🪩💃</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-3">
      <%= f.label :name, class: "form-label text-capitalize" %>
      <%= f.text_field :name, class: "form-control", placeholder: "John" %>
    </div>

    <div class="mb-3">
      <%= f.label :email, class: "form-label text-capitalize" %>
      <%= f.text_field :email, class: "form-control", placeholder: "john_doe@gmail.com" %>
    </div>

    <div class="mb-3">
      <%= f.label :password, class: "form-label text-capitalize" %>
      <% if @minimum_password_length %>
        <small class="text-muted">(Minimum <%= @minimum_password_length %> characters)</small>
      <% end %>
      <%= f.password_field :password, class: "form-control", autocomplete: "new-password", placeholder: "******" %>
    </div>

    <div class="mb-3">
      <%= f.label :password_confirmation, class: "form-label text-capitalize" %>
      <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password", placeholder: "******" %>
    </div>

    <%= f.submit "Sign up", class: "btn btn-md btn-outline-dark w-100" %>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
