<% render_content_if_no_users(users) do%>
    <h4>No Users Found</h4>
<% end %>

<% render_users_if_any(users) do%>
    <% users.each do |user| %>
        <% unless  current_user.blocked?(user) %>
            <div class="d-flex justify-content-between align-items-center">
                <div class="result-row">
                    <% render_profile_pic_if_attached(user) do%>
                        <%= image_tag user.profile_picture, class: "posts-user-avatar" %>
                    <% end %>
                    <% render_default_pic_if_profile_pic_not_attached(user) do%>
                        <%= image_tag 'user_avatar.png', class: "posts-user-avatar" %>
                    <% end %>
                    <div>
                        <h4><%= user.email%></h4>
                        <h6><%= user.name%></h6>
                    </div>
                </div>
                <%= button_to "View Profile", profile_path(user),method: :get ,class:"btn btn-outline-dark"%>
            </div>
        <% end %>
    <% end %>
<% end %>