<%= stylesheet_link_tag "search_results" %>

<%= javascript_include_tag "ajax_scripts/profile_search_handler"%>

<%= form_for :search, url: search_path, method: :post, data: { turbo: false }, id:"query-form"  do |form| %>
    <div class="row d-flex align-items-end py-2">
        <div class="col-5 my-3">
            <%= form.label :name %>
            <%= form.text_field :name, class:"form-control", placeholder:"John Doe", id:"name"%>
        </div>

        <div class="col-5 my-3">
            <%= form.label :email %>
            <%= form.text_field :email, class:"form-control", placeholder:"john.doe@hotmail.com", id:"email"%>
        </div>

        <div class="col-2 my-3 text-end">
            <%= form.submit "Search   🔎", class:"btn btn-md btn-outline-dark mr-0", id:"query-btn"%>
        </div>
    </div>
<% end %>

<hr/>

<div id="query-results">
    
</div>