<%= stylesheet_link_tag "navbar" %>

<nav id="sidebarMenu">
    <!-- Branding section -->
    <div class="brand">
      <i class="fa-solid fa-mobile fa-fw"></i>
      <span class="fw-bold">GetSocial</span>
    </div>

    <!-- Navigation links -->
    <div class="list-group">
      <%= link_to root_path, class: 'list-group-item list-group-item-action' do %>
        <i class="fa fa-home fa-fw"></i>
        <span>Home</span>
      <% end %>

      <%= link_to search_path, method: :get, class: 'list-group-item list-group-item-action' do %>
        <i class="fa fa-search fa-fw"></i>
        <span>Search</span>
      <% end %>

      <%= link_to activities_path, class: 'list-group-item list-group-item-action' do %>
        <i class="fa-solid fa-heart fa-fw"></i>
        <span class="badge bg-danger rounded-pill position-absolute top-0 start-100 translate-middle">
          <%# TODO: BADGE IMPLEMENTATION %>
          3
        </span>
        <span>Activity</span>
      <% end %>

      <%= link_to '#', class: 'list-group-item list-group-item-action' do %>
        <i class="fa-solid fa-message fa-fw"></i>
        <span>Messages</span>
      <% end %>

      <%= link_to root_path, class: 'list-group-item list-group-item-action', "data-bs-toggle"=>"modal", "data-bs-target"=>"#createPostModal" do %>
        <i class="fa fa-plus fa-fw"></i>
        <span>Create</span>
      <% end %>

      <%= link_to profile_path(current_user), method: :get, class: 'list-group-item list-group-item-action' do %>
        <i class="fa fa-user fa-fw"></i>
        <span>Profile</span>
      <% end %>
    </div>

    <div class="dropup-center dropup settings-dropup">
      <button class="w-100 btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-cog fa-fw me-3"></i><span>Settings</span>
      </button>
      <ul class="dropdown-menu">
        <li><%= button_to "Blocked Users", root_path, class: "dropdown-item" %></li>
        <li><%= button_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
      </ul>
    </div>

  </nav>