<%= stylesheet_link_tag "navbar" %>

<nav id="sidebarMenu">
    <div class="brand">
      <i class="fa-solid fa-mobile fa-fw"></i>
      <span class="fw-bold">GetSocial</span>
    </div>

    <div class="list-group">
      <%= link_to root_path, class: 'list-group-item list-group-item-action' do %>
        <i class="fa fa-home fa-fw"></i>
        <span>Home</span>
      <% end %>

      <%= link_to search_path, method: :get, class: 'list-group-item list-group-item-action' do %>
        <i class="fa fa-search fa-fw"></i>
        <span>Search</span>
      <% end %>

      <%= link_to activities_path, class: 'list-group-item list-group-item-action' do %>
        <i class="fa-solid fa-heart fa-fw"></i>
        <%# TODO: OPTIMIZE THIS %>
        <% pan_count = current_user.notifications.where(type: "PostActivityNotifier::Notification").unread.count %>
        <% if pan_count > 0 %>
          <% visibility = "visible"%>
        <% else %>
          <% visibility = "invisible"%>
        <% end %>
        <span  id="unread-notification-count"  class="<%=visibility%> badge bg-danger rounded-pill position-absolute top-0 start-100 translate-middle" data-user-id=<%= current_user.id %>>
          <%= pan_count %>
        </span>
        <span>Activity</span>
      <% end %>

      <%= link_to messages_path, class: 'list-group-item list-group-item-action' do %>
        <i class="fa-solid fa-message fa-fw"></i>
        <% msg_count = current_user.notifications.where(type: "MessageNotifier::Notification").unread.count %>
        <% if msg_count > 0 %>
          <% msg_count_visibility = "visible"%>
        <% else %>
          <% msg_count_visibility = "invisible"%>
        <% end %>
        <span  id="unread-messages-count"  class="<%=msg_count_visibility%> badge bg-danger rounded-pill position-absolute top-0 start-100 translate-middle" data-user-id=<%= current_user.id %>>
          <%= msg_count %>
        </span>
        <span>Messages</span>
      <% end %>

      <%= link_to root_path, class: 'list-group-item list-group-item-action', "data-bs-toggle"=>"modal", "data-bs-target"=>"#createPostModal" do %>
        <i class="fa fa-plus fa-fw"></i>
        <span>Create</span>
      <% end %>

      <%= link_to profile_path(current_user), method: :get, class: 'list-group-item list-group-item-action' do %>
        <i class="fa fa-user fa-fw"></i>
        <span>Profile</span>
      <% end %>
    </div>

    <div class="dropup-center dropup settings-dropup">
      <button class="w-100 btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-cog fa-fw me-3"></i><span>Settings</span>
      </button>
      <ul class="dropdown-menu">
        <li><%= button_to "Blocked Users", blocked_users_path, method: :get, class: "dropdown-item" %></li>
        <li><%= button_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
      </ul>
    </div>

  </nav>