<div class="grand-parent d-flex justify-centent-between align-items-center mb-3">
    <div class="user-details">
        <% if user.profile_picture.attached? %>
        <%= image_tag user.profile_picture, class: "posts-user-avatar" %>
        <% else %>
        <%= image_tag 'user_avatar.png', class: "posts-user-avatar" %>
        <% end %>
        <div>
            <h4><%= user.email%></h4>
            <h6><%= user.name%></h6>
        </div>
    </div>
    <button class="btn btn-lg btn-outline-dark unblock-btn" data-user-id=<%=user.id%>>Unblock</button>
</div>