<div>
    <div class="request-container">
        <div class="user-details">
            <% if user.profile_picture.attached? %>
            <%= image_tag user.profile_picture, class: "posts-user-avatar" %>
            <% else %>
            <%= image_tag 'user_avatar.png', class: "posts-user-avatar" %>
            <% end %>
            <div>
                <h4><%= user.email%></h4>
                <h6><%= user.name%></h6>
            </div>
        </div>

        <div class="approval-button-column">
            <button class="btn btn-sm btn-outline-dark user-profile-btn accept w-100" data-user-id=<%=user.id%>>ACCEPT</button>

            <button class="btn btn-sm  btn-outline-dark user-profile-btn decline w-100" data-user-id=<%=user.id%>>DECLINE</button>
        </div>
    </div>
    <hr/>
</div>


<%# AJAX IMPLEMENTATION TO CHANGE THE BUTTON ON REQUEST STATUS %>
<script>

function AJAX(u_id, request_type){
    $.ajax({
        type: "post",
        url: `http://localhost:3000/requests/${u_id}/${request_type}`,
        data: "data",
        success: function (response) {
            console.log(response);
        }
    });
}

$(document).ready(() => {
    $(document).on("click", ".accept, .decline", (event) => {
        event.preventDefault();
        const button = $(event.target);
        const u_id = $(event.target).attr('data-user-id');
        const req_accepted = button.hasClass("accept");
        
        if (req_accepted) {
            AJAX(u_id, "accept")
        } else {
            AJAX(u_id, "decline")
        }

        $(event.target).parent().parent().parent().empty()
    });
});
</script>