<%= stylesheet_link_tag "requests" %>

<%= javascript_include_tag "ajax_scripts/request_handler"%>

<% render_content_if_available(@pending_requests.count) do %>
    <h1 class='text-center'>No pending requests!!!</h1>
<% end %>

<% render_requests_if_available(@pending_requests.count) do %>
    <div id="all-pending-requests">
    <% @pending_requests.each do |pending_request|%>
        <% user = User.find(pending_request.followable_id) %>
        <div class="pending">
        <div class="request-container ">
            <div class="user-details">
                <% if user.profile_picture.attached? %>
                <%= image_tag user.profile_picture, class: "posts-user-avatar" %>
                <% else %>
                <%= image_tag 'user_avatar.png', class: "posts-user-avatar" %>
                <% end %>
                <div>
                    <h4><%= user.email%></h4>
                    <h6><%= user.name%></h6>
                </div>
            </div>

            <button class="btn btn-lg btn-outline-dark user-profile-btn accept w-25 cancel-pending-request" data-user-id=<%=user.id%>>Cancel Request</button>
        </div>
        <hr/>
        </div>
    <% end %>
    </div>
<% end %>