<%= javascript_include_tag "ajax_scripts/stories_handler"%>

<div class="d-flex align-items-center justify-content-between">
    <h1>View my stories</h1>
    <%= button_to "View", my_stories_stories_path, method: :get, class:"btn btn-outline-dark btn-lg" %>
</div>
<hr/>

<% @stories.each do |story|%>
    
        <div class="d-flex justify-content-between align-items-center">
            <p><u><strong><%= story.user.email %></strong></u> uploaded a new story on <u><%=story.created_at.to_s.split(" ")[0]%></u></p>
            <%= view_story_link(story) %>
        </div>
    
<% end %>