<%= stylesheet_link_tag "post" %>

<div class="post-container">
  <div class="top-row">
    <div class="user-details">
      <% if user.profile_picture.attached? %>
        <%= image_tag user.profile_picture, class: "posts-user-avatar" %>
      <% else %>
        <%= image_tag 'user_avatar.png', class: "posts-user-avatar" %>
      <% end %>
      <div>
        <h4><%= user.email%></h4>
        <h6><%= user.name%></h6>
      </div>
    </div>

    <%# TODO: IMPLEMENT LIKE EDIT POST & DELETE POST %>
    <div class="dropdown">
      <button class="btn btn-outline-bark " type="button" id="postOptionsDropDown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
      </button>
      <div class="dropdown-menu" aria-labelledby="postOptionsDropDown">
      <% if current_user==user %>
        <%= button_to edit_post_path, method: :get, class: 'dropdown-item', id:"edit-post-btn", "data-bs-togfgle": "editPostModal" do %>
          <i class="fas fa-edit"></i>
          <span>  Edit</span>
        <% end %>
        <%= button_to post_path(post), method: :delete, class: 'dropdown-item' do %>
          <i class="fas fa-trash"></i>
          <span>  Delete</span>
        <% end %>
      <% else %>
        <%= link_to profile_path(user), method: :get, class: 'dropdown-item' do %>
          <span>View Profile</span>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>


  
  <%# BUTTON VARIES DEPENDING ON THE CONDITION IF THE USEWR IS OWNER OF THE POST %>
  <hr />

  <div class="post-picture-container">
    <%= image_tag post.image, class:"post-picture" %>
  </div>

  <div class="post-buttons">
    <%=render partial:"posts/interaction_buttons", locals: {post: post, show_comment_btn: show_comment_btn}%>
  </div>

  <div class="post-caption-container">
    <p><span class="user-id"><%= user.email %>:</span> "<%=post.caption%>"</p>
  </div>
</div>
