<%= stylesheet_link_tag "post" %>
<%= javascript_include_tag "ajax_scripts/post_interaction_handler"%>

<%= stylesheet_link_tag "comments_section" %>
<%= javascript_include_tag "ajax_scripts/comments_handler"%>

<%= render partial:"comments/comments_modal" %>
<%= render partial:"posts/share_post_modal" %>

<% render_post_if_following(@user) do %>
    <%= render partial: "post", locals: { post: @post, user: @user } %>
<% end %>

<% render_content_if_not_following(@user) do %>
    <h1 class="text-center">
        You need to follow<u><em><a href="<%= profile_path(@user) %>"><%= @user.email %></a></em></u>to view this post.
    </h1>
<% end %>