<%= stylesheet_link_tag "requests" %>

<%= stylesheet_link_tag "notifications" %>
<%= javascript_include_tag "ajax_scripts/mark_notification_as_read"%>

<div class="activity-req-container follow-request-activity">
    <h3><%= pluralize(@follow_requests_count, "- Follow Request") %></h3>
    <% render_view_btn_if_requests_Available(@follow_requests_count) do %>
        <%= link_to "View", follow_requests_path, method: :get, class: "btn btn-md btn-outline-dark visible" %>
    <% end %>

    <% do_not_render_view_btn_if_requests_Available(@follow_requests_count) do %>
        <%= link_to "View", follow_requests_path, method: :get, class: "btn btn-md btn-outline-dark invisible" %>
    <% end %>
</div>

<div class="activity-req-container pending-request-activity">
    <h3><%= pluralize(@pending_requests_count, "- Pending Request") %></h3>
    <% render_view_btn_if_requests_Available(@pending_requests_count) do %>
        <%= link_to "View", pending_requests_path, method: :get, class: "btn btn-md btn-outline-dark visible" %>
    <% end %>

    <% do_not_render_view_btn_if_requests_Available(@pending_requests_count) do %>
        <%= link_to "View", pending_requests_path, method: :get, class: "btn btn-md btn-outline-dark invisible" %>
    <% end %>
    </div>

<hr/>

<div class="d-flex justify-content-between align-items-center mb-3">
    <h3>Post Activity Notifications</h3>
    <button id="mark-all-pan-as-read" class="btn btn-md btn-outline-dark">Mark As Read</button>
</div>

<hr/>

<div id="post-activity-notificaions-container">
    <% @post_activity_notifications.each do |notification| %>
        <% if notification.unread?%>
            <%= render partial: "post_activity_notification", locals: {notification: notification} %>
        <% end %>
    <% end %>
</div>