<h1 class="text-center mb-4">Edit Your Profile</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= form_for @user, url: profile_path(@user), method: :patch, data: { turbo: false } do |form| %>
        <% if @user.errors.any? %>
          <div class="alert alert-danger">
            <h5><%= pluralize(@user.errors.count, "error") %> prohibited this profile from being saved:</h5>
            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mb-3">
          <%= form.label :name, class: "form-label text-capitalize" %>
          <%= form.text_field :name, class: "form-control", placeholder: "John Doe" %>
        </div>
        
        <div class="mb-3">
          <%= form.label :email, class: "form-label text-capitalize" %>
          <%= form.email_field :email, class: "form-control", placeholder: "j.doe@gmail.com" %>
        </div>

        <div class="mb-3">
          <%= form.label :bio, class: "form-label text-capitalize" %>
          <%= form.text_area :bio, class: "form-control", placeholder: "How would I describe myself to others 🤔" %>
        </div>

        <div class="mb-3">
          <%= form.label :profile_picture, class: "form-label text-capitalize" %>
          <%= form.file_field :profile_picture, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :cover_photo, class: "form-label text-capitalize" %>
          <%= form.file_field :cover_photo, class: "form-control" %>
        </div>

        <div class="text-center mb-3">
          <%= form.submit "Update My Info!", class: "btn btn-lg btn-block btn-outline-dark w-100" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
