<%= stylesheet_link_tag "profile" %>

<div id="user-profile">

    <div class="d-flex align-items-start my-3">

        <% if @user.profile_picture.attached? %>
            <%= image_tag @user.profile_picture,  class: "user-avatar"%>
        <% else %>
            <%= image_tag 'user_avatar.png', class: "user-avatar" %>
        <% end %>

        <div id="user-info">
            <h3><%=@user.email%></h3>
            <h4 class="d-flex ">
                <span><%= pluralize(@user.posts.count, 'post') %></span>
                <span><%= pluralize(@user.posts.count, 'following') %></span>
                <span><%= pluralize(@user.posts.count, 'follower') %></span>
            </h4>

            <br/>
            <h4><%=@user.name%></h4>
            <%# simple-format to maintain the line breaks, bolds, italics & paragraphs %>
            <h5><%=simple_format(@user.bio)%></h5>
        </div>
    </div>

    <div id="button-row">
        <div class="button-container">
            <%= button_to "Edit Profile", edit_profile_path(@user), method: :get, class: "btn btn-lg btn-primary user-profile-btn w-100" %>
        </div>
        <div class="button-container">
            <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-lg btn-danger user-profile-btn w-100" %>
        </div>
    </div>
</div>

<hr/>

<%# DISPLAYING ALL THE POSTS %>
<div id="user-posts">
    <% @user.posts.reverse.each do |post|%>
        <%# MODAL FORMAT ACHIED BUT THEN STYLING REQUIRED %>
        <%# render partial: "posts/modal",locals:{ post: post}%>
        <%# link_to post_path(post), method: :get, class:"post-item", 'data-bs-toggle' => "modal", 'data-bs-target'=>"#exampleModalCenter" do %>
        <%= link_to post_path(post), method: :get, class:"post-item" do %>
            <%= image_tag post.image,  class: "post-image", data_user_id:@user.id,  data_post_id:post.id %>
        <%end%>
    <% end %>
</div>