<%= stylesheet_link_tag "profile" %>


<div id="user-profile">

    <div class="d-flex align-items-start my-3">
        <% if @user.profile_picture.attached? %>
            <%= image_tag @user.profile_picture,  class: "user-avatar"%>
        <% else %>
            <%= image_tag 'user_avatar.png', class: "user-avatar" %>
        <% end %>

        <div id="user-info">
            <h3><%=@user.email%></h3>
            <h4 class="d-flex">
                <span><%= pluralize(@user.posts.count, 'post') %></span>
                <span><%= pluralize(@user.following.count, 'following') %></span>
                <span><%= pluralize(@user.followers.count, 'follower') %></span>
            </h4>

            <br/>
            <h4><%=@user.name%></h4>
            <%# simple-format to maintain the line breaks, bolds, italics & paragraphs %>
            <h5><%=simple_format(@user.bio)%></h5>
        </div>

        <%# TODO: REFACTOR & ADD FUNCTIONALITY %>
        <div class="dropdown">
        <button class="btn btn-outline-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
        </div>

    </div>

    <div class="button-row">
        <%= render partial: "buttons", locals:{user: @user} %>
    </div>
</div>

<hr/>

<%# DISPLAYING ALL THE POSTS TO THE VIEWER IF THEY FOLLOW THER USER OR IF THE USER IS VIEWING HIS PROFILE %>
<% if current_user.following?(@user) || current_user.myself?(@user)%>
    <div id="user-posts">
        <% @user.posts.reverse.each do |post|%>
            <%= link_to post_path(post), method: :get, class:"post-item", data:{"post-id"=>post.id} do %>
                <%= image_tag post.image,  class: "post-image", data_user_id:@user.id,  data_post_id:post.id %>
                <div class="post-info">
                    <div class="post-info-content">
                        <p>❤️ <%= post.total_likes %>  💬 <%= post.total_comments %> </p>
                    </div>
                </div>
            <%end%>
        <% end %>
    </div>
<% end %>